@charset "utf-8";
/*统一样式*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {
    margin: 0;
    padding: 0;
    font-family: PingFangSC, Helvetica;
}

a {
    text-decoration: none;
    color: #000
}
 
a:hover {
    text-decoration: underline;
}

ul,ol {
    list-style: none;
}

a,img,input,div {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.hidden {
    display: none !important;
}

.bold {
    font-weight: 600
}

@media screen and (min-width:1024px) {
    html {
        font-size: 20px;
    }
}

/* PC */

@media screen and (max-width:800px) {
    html {
        font-size: 18px;
    }
}

/* 普通平板 */

@media screen and (max-width:414px) {
    html {
        font-size: 17px;
    }
}

/* 苹果6P7P8P */

@media screen and (max-width:375px) {
    html {
        font-size: 15px;
    }
}

/* 苹果678 */

@media screen and (max-width:360px) {
    html {
        font-size: 14px;
    }
}

/* 三星S5 */

@media screen and (max-width:320px) {
    html {
        font-size: 12px;
    }
}

/* 苹果5 */

/*禁止ios微信端长按出现*/

* {
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    touch-callout: none;
}

::-webkit-scrollbar{
    display:none;
  }


/* 展示界面 */

body {
    background-color: #e84644;
}

.header {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: 100%;
    height:450px;
    background: url(../img/caishen.png) no-repeat center;
    background-size: 100% 450px;
}

.header>span {
    position: relative;
    top: 13%;
    text-align: center;
    color: #ffdd01;
    font-size: 2rem;
    font-weight: 700;
}

.header img {
    width: 100%;
    height: 100%;
}

.header .music {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 122px;
    right: 30px;
}

.button {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    padding-top: 10px;
}

div.hidden {
    display: none
}

.button img {
    width: 80%;
    height: 60px;
}

.button span {
    display: block;
    position: relative;
    top: 15px;
    color: #e84644;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}


.actionEnrollBG {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index:100;
}
.actionEnroll{
    width: 80%;
    position: absolute;
    top: 100px;
    margin-left: 30px;
    background-color: #e84644;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.actionEnroll>.actionEnrollTitle{
    width: 100%;
    text-align: center;
    padding:25px 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
}

.actionEnroll >.actionEnrollTitle>span{
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
}
.actionEnroll >.contentInput{

}
.actionEnroll >.contentInput>input{
    width:80%;
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ffdd01;
    text-align: center;
    margin:5px 0 5px 19px;
}
.actionEnroll >.contentInput>.chooseButton{
    
}


/* 头部基础样式 */
.edit {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}



.editHeader {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    width: 77%;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 1px #ffdd01; 
   
}

.headerTitle{
    position: relative;
    top: 15px;
    width: 187px;
    height:  43px;
    z-index: 100;
}
    .headerImg{
    width: 187px;
    height:  43px;
    background: url(../icon/title@3x.png)no-repeat center;
    background-size: 187px 43px;

    }

    .headerLabel {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #e84644;
    z-index: 100;
    }


.time {
    margin: 30px 0 0 0;
    color:#fff;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer>img {
    width: 83px;
    height: 60px;
    margin: 20px 0;
}

/* 公用样式 */

.borderStyle {
    width: 95%;
    font-size: 15px;
    line-height: 15px;
    border: 2px solid #e84644;
    border-radius: 5px;
    padding: 5px;
}

.contentTitle {
    display: block;
    color: #e84644;
    font-weight: 700;
    margin: 30px 0 10px 0;
}

.flexStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.lesstop {
    margin-top: 10px;
    margin-bottom: 30px;
}

.bordermargin {
    margin: 10px 0;
    border:1px solid #ffdd01;
}

.center{
    width: 100%;
    text-align: center;
}
/* 编辑部分 */

.editTime .beginTime,
.editTime .endTime {
    width: 37%;
}

.beginTime+span {
    margin: 0 5px;
    color:#fff;
}

.editShare {
    width: 100%;
}


.rules{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.editRules {
    width: 100%;
}

.editRules .contentInput{
    margin: 6px 0;
}
.yuanbao {
    width: 50px;
}


.editGifts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gift{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gift >.giftName>span{
    float: left;
}
.gift >.giftName>img{
    float: right;
    width: 15px;
    height: 15px;
}


.showImage{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ffdd01;
}

.gift >.contentInput{
    margin: 10px 0;
}

.editGifts span {
    color: #000000;
    font-weight: normal;
}

.editGifts .contentTitle:first-child span {
    font-weight: 700;
    font-size: 18px;
}

.huode {
    width: 60%;
}

.editGifts>.giftsAdd {
    display: flex;
    justify-content: center;
}


.giftsImg {
    position: relative;
    width: 91%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.giftsImg>span {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}

.inputImg {
    width: 100%;
    border-radius: 10px;
}

.uploaderInput {
    width: 270x;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.giftsImg>.delete {
    width: 15px;
    height: 15px;
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.giftItem {
    display: flex;
    justify-content: flex-start;
    padding: 20px 0;
}

.giftItem>label {
    margin: 0 10px;
}

.border {
    width: 100%;
    text-align: center;
    border: 1px dotted #c6c6c6;
    margin: 20px 0 0 0;
}

.yellowBorder{

    border:1px solid #ffdd01;
    border-radius: 10px;
}

.editButton {
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #e84644;
    margin: 20px 0 0 0;
    font-size: 18px;
    padding: 5px;
}

.editButton>span {
    height: 20px;
}

.editMusic>.contentTitle>span {
    color: #000;
    font-weight: normal;
    font-size: 15px;
}

.editMusic>.contentTitle {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.editMusic .contentInput {
    display: flex;
    align-items: center;
}

.editMusic .contentInput>img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.editMusic .contentInput .inputMusic {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.editOrg {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editAddContent,
.editAdpPic {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.addPic{
    position: relative;
}

.orgPicInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* .editAddContent>input {
    word-wrap: break-word;
} */

.editAddContent>.borderStyle{
    min-height: 50px;
}

.editAdpPic img {
    width: 100%;
}

.showPic,
.showContent{
    margin-bottom: 10px;
}
.exchangeItem:nth-child(1) .moveup{
    background: url("../icon/unmoveup@3x.png") no-repeat center ; 
    background-size: 15px 15px;
    border:none
}

.exchangeItem .moveup{
    background: url("../icon/moveup@3x.png") no-repeat center ; 
    background-size: 15px 15px;
    border:none
}
.exchangeItem:last-child .movedown{
    background: url("../icon/unmovedown@3x.png");
    background-size: 15px 15px;
    border:none
    }

.exchangeItem .movedown{
    background: url("../icon/movedown@3x.png");
    background-size: 15px 15px;
    border:none
    } 

.iconList>img {
    position: absolute;
    bottom: 12px;
    width: 15px;
    height: 15px;
}

.iconList>.moveup {
    right: 52px;
}

.iconList>.movedown {
    right: 30px;
}

.iconList>.delete {
    right: 10px;
}

.user {
    width: 100%;
}

.editUser .contentInput {
    position: relative;
    display: flex;
    align-items: baseline;
}

.editUser .contentInput>img {
    position: absolute;
    top: 16px;
    left: 7px;
    width: 15px;
    height: 15px;
}

.editUser .contentInput>input {
    width: 60%;
    box-sizing: border-box;
    padding-left: 28px;
}

.editUser .contentInput>span {
    margin-left: 10px;
    color:#c6c6c6;
}
.editUser .contentInput>.active{
    color:#e84644;
    font-weight: 700;
}


.editUser .contentInput>span>i {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #000;
    text-align: center;
    position: relative;
    top: 5px;
}

.editUser .contentInput>span>.selected {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    border: 2px solid #e84644;
    border-radius: 50%;
    background-clip: content-box;
    background-color: #e84644;
   
}

.editSchool .contentInput>.content {
    width: 100%;
    height: 1.2rem;
}

.editSchool .contentInput>.content>span {
    float: left;
}

.editSchool .contentInput>.content>img {
    float: right;
    width: 15px;
    height: 15px;
}

.chooseSchoolBg {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index:100;
}
.chooseSchool{
    width: 300px;
    height: 337px;
    position: absolute;
    top: 100px;
    margin-left: 37px;
    background-color: #e84644;
    border-radius: 10px;
    
}

.chooseSchool>.chooseTitle{
    width: 100%;
    text-align: center;
    padding:25px 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: relative;
}
.chooseSchool>.chooseTitle>span{
    display: block;
    position: absolute;
    top:0;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    font-size: 20px;
}

.chooseSchool>.schoolList{
    width: 100%;
    height: 190px;
    overflow: scroll;
}

.chooseSchool>.schoolList>li{
height: 1.4rem;
padding: 5px 20px;
}

.chooseSchool>.schoolList>li>i{
    float: left;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-clip: content-box;
    background-color: #e84644;
}
.chooseSchool>.schoolList>li>.selected{
    float: left;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-clip: content-box;
    background-color: #fff;
}
.chooseSchool>.schoolList>li>span{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.outter{
    float: left;
    position: relative;
    left: 50%;
}
.outter>.inner{
    position: relative;
    left: -50%;
}
.chooseButton{
    background-color: #ffdd01;
    border-radius: 15px;
    color: #fff;
    padding:2px 10px;
    margin: 20px 0;
}


.more {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #9999999a;
    padding: 5px;
    margin: 10px 0;
}

.editRanking {
    width: 100%;
}

.editRanking>.contentInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.editRanking .rankingTitle,
.editRanking .rankingContent {
    width: 100%;
}

.editRanking .rankingContent>.data {
    width: 100%;
    height: 1.2rem;
}

.editRanking .rankingTitle>div {
    display: inline-block;
    width: 21%;
    font-weight: 700;
}

.editRanking .rankingContent>.data>div {
    display: inline-block;
    width: 21%;
}

.editRanking .rankingTitle>div:last-child,
.editRanking .rankingContent>.data>div:last-child {
    width: 27%;
    margin-top: 0;
}

.footerButton {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    display: flex;
    background-color: #fff;
}

.footerButton>.view {
    width: 50%;
    text-align: center
}

.footerButton>.save {
    width: 50%;
    text-align: center;
    color: #e84644;
}

.footerButton div+div {
    border-left: 1px solid #c6c6c6;
}