@charset "utf-8";

/*统一样式*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {margin:0;padding:0;font-family:PingFangSC,Helvetica;}
a {text-decoration:none;color: #000}
a:hover {text-decoration:underline;}
ul,ol {list-style:none;}
a,img,input,div {-webkit-tap-highlight-color:rgba(255,255,255,0);}
.hidden {display:none !important;}
.bold{font-weight: 600}
@media screen and (min-width:1024px){html{font-size:20px;}}/* PC */
@media screen and (max-width:800px){html{font-size:18px;}} /* 普通平板 */
@media screen and (max-width:414px){html{font-size:17px;}} /* 苹果6P7P8P */
@media screen and (max-width:375px){html{font-size:15px;}} /* 苹果678 */
@media screen and (max-width:360px){html{font-size:14px;}} /* 三星S5 */
@media screen and (max-width:320px){html{font-size:12px;}} /* 苹果5 */
/*禁止ios微信端长按出现*/
* {
  -webkit-touch-callout:none;
  -moz-touch-callout:none;
  -ms-touch-callout:none;
  touch-callout:none;
}

.myActive{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
}
.myActiveTitle{
    height:3.5rem;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.myActiveTitle>label{
    width: 25%;
    box-sizing: border-box;
    height: 3.5rem;
    border-left: 1px solid #e5e5e5;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    color: #999;
    font-size: 1rem;
}
.myActiveTitle>label:nth-child(1){
    border: none;
}
.active{
    background: #F36442 !important;
    color: #fff !important;
}       
.swiper-container {
    width: 100%;
    height: 500px;
} 
 .swiper-slide {
    background: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
}
.sec>ul{
    width: 96%;
    margin-left: 4%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex: 1;
}
.sec>ul>li{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
}
.secLeft{
    width: 4.4rem;
    height: 3rem;
    margin-right: 10px;
}
.secLeft>img{
    width: 4.4rem;
    height: 3rem;
}
.secRight{
    flex: 1;
    height: 3rem; 
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.secRight>label{
    font-size: 1.2rem;
}
.secRight>span{
    font-size: 0.87rem;
    color: #999;
}
.checkMore{
    height: 2rem;
    width: 90%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    font-size: 0.94rem;
    color: #fff;
    border-radius: 10px;
    margin-top:20px;
    background: #F36442;
}