@charset "utf-8";

/*统一样式*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {margin:0;padding:0;font-family:PingFangSC,Helvetica;}
a {text-decoration:none;color: #000}
a:hover {text-decoration:underline;}
ul,ol {list-style:none;}
a,img,input,div {-webkit-tap-highlight-color:rgba(255,255,255,0);}
.hidden {display:none !important;}
.bold{font-weight: 600}
@media screen and (min-width:1024px){html{font-size:20px;}}/* PC */
@media screen and (max-width:800px){html{font-size:18px;}} /* 普通平板 */
@media screen and (max-width:414px){html{font-size:17px;}} /* 苹果6P7P8P */
@media screen and (max-width:375px){html{font-size:15px;}} /* 苹果678 */
@media screen and (max-width:360px){html{font-size:14px;}} /* 三星S5 */
@media screen and (max-width:320px){html{font-size:12px;}} /* 苹果5 */
/*禁止ios微信端长按出现*/
* {
  -webkit-touch-callout:none;
  -moz-touch-callout:none;
  -ms-touch-callout:none;
  touch-callout:none;
}

.menuPage{
    width: 100%;
}


.menuPage>.swiper-container{
    width: 100%;
    height: 200px;
}

.menuPage>.swiper-container>.swiper-warper{
    width: 100%;
    height: 200px;

}


.menuPage>.swiper-container>.swiper-warper img{
    width: 100%;
    height: 200px;
}