body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {margin:0;padding:0;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
ul,ol {list-style:none;}
.hidden {display:none !important;}
@media screen and (min-width:1024px){html{font-size:20px;}}/* PC */
@media screen and (max-width:800px){html{font-size:18px;}} /* 普通平板 */
@media screen and (max-width:414px){html{font-size:17px;}} /* 苹果6P7P8P */
@media screen and (max-width:375px){html{font-size:15px;}} /* 苹果678 */
@media screen and (max-width:360px){html{font-size:14px;}} /* 三星S5 */
@media screen and (max-width:320px){html{font-size:12px;}} /* 苹果5 */
body {background:url(../images/bg.png) no-repeat top center;background-attachment:fixed;background-size:cover;}
@media (min-width:768px) {.page {width:750px;margin:0 auto;overflow:hidden;}}
@media (min-width:992px) {.page {width:970px;margin:0 auto;overflow:hidden;}}
@media (min-width:1200px) {.page {width:1170px;margin:0 auto;overflow:hidden;}}
.head {padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;margin-top:20px;}
.centen {display:flex;}
.c_rihgt {width:53%;}
.c_left {width:49%;display:flex;align-items:center;justify-content:space-around;flex-direction:column;}
.cl_top img {margin-top:6%;}
.clb_l {float:left;display:flex;flex-direction:column;align-items:center;margin-left:10px;margin-right:10px;}
.clb_l img {margin-top:20px;}
.clb_l a {cursor:default;}
